.App {
  text-align: center;
}

.lists{
  display: flex;
  /* width: 200px; */
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}
.lists button{
  width: 20%;
  font-size: 20px;
  cursor: pointer;
  background-color: orange;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid whitesmoke;
}
.inputData{
  height: 50px;
  width: 300px;
  border-radius: 10px ;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.inputDiv{
  width: 40%;
  margin: auto;
  display: flex;
  gap: 20px;
}
.inputDiv button{
  width: 15%;
  font-size: 20px;
  cursor: pointer;
  background-color: orange;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid whitesmoke;
}
.Listdata{
  font-size: 30px;
  background-color: #33333333;
  width: 30%;
  margin: auto;
  border-top: 1px solid whitesmoke;
  margin-bottom: 10px;
}